
.about-main{
    display: flex;
    align-items: center;
    gap: 0.62rem;
}
.about-span h3{
    color: var(--Dark, #333);

/* H3 */
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.about-span{
    margin-left: 1.3rem;
    margin-bottom: 0.31rem;
}

.about-span-box{
    width: 5.375rem;
height: 2.25rem;
top: -0.8px;
  left: -24.9px;
}
.about-left h1{
    color: var(--primery, #A639DF);

/* H2 */
font-family: Poppins;
font-size: 3rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.about-left p{
    color: var(--Dark, #333);

/* H4 */
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 2rem; /* 177.778% */

}
.about-box{
    margin-block: 1.88rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.3rem;

}
.about-box-1{
    display: flex;
    align-items: center;
    gap: 1.81rem;
    width: 20rem;
}
.about-right-box h4{
    color: var(--Dark, #333);

/* Sub 1 */
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.about-right-box p{
    color: var(--Grey, #515151);
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about-box-page{
    margin-block: 3.13rem;
    border-top: 1px solid rgba(232, 183, 255, 0.3)
    ;
    border-bottom: 1px solid rgba(232, 183, 255, 0.3)
    ;
    padding-block: 3.13rem;
    padding-inline: 15rem;
}
.about-doc{
    margin: 6.31rem 15rem ;
    display: flex;
    align-items: center;
    gap: 1.88rem;
}
.doc-box{
    display: flex;
    align-items: center;
    position: relative;
}
.doc-detail{
    padding: 1.25rem;
    background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.07);
width: 22.9375rem;
height: 17.5rem;
background-image: url(../Assets/img/dbg.svg);
background-position: right bottom;
background-repeat: no-repeat;
margin-top: 3rem;
}
.doc-detail h2{
    color: var(--primery, #A639DF);

font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.doc-detail h4{
    color: var(--Dark, #333);

font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0.62rem 0 1.88rem;
}
.doc-detail h3{
    color: var(--Grey, #515151);
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 0.62rem;
}