*{
    margin: 0;
    padding: 0;
}
.index{
    padding: 6.25rem 15rem 0;
}
.span-box-1 {
    width: 3.1875rem;
    height: 2.125rem;
    flex-shrink: 0;
    border-radius: 3.125rem 0rem 0rem 3.125rem;
    opacity: 0.1;
    background: #A639DF;
    position: absolute;
    top: 0.6px;
    left: -17px;

}

.span-box {
    height: 2.125rem;
    position: relative;

}

.all-btn {
    width: fit-content;
    padding: 0.75rem 1.875rem;
    border-radius: 3.75rem;
    background: linear-gradient(180deg, rgba(174, 59, 233, 0.65) 0%, #A638DF 100%);
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.all-btn h4 {
    display: inline-flex;
    align-items: center;
    gap: 0.94rem;
}
.hero-all{
    background-image: url(../Assets/img//allherobg.svg);
    padding-block: 9.69rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primery, #A639DF);
font-family: Poppins;
font-size: 3.125rem;
font-style: normal;
font-weight: 600;
line-height: 5.625rem; /* 180% */
}


@media (min-width: 1100px) and (max-width: 1850px){
    .index{
        padding: 6.25rem 3rem 0;
    }
    .hero-index{
        padding-inline: 3.25rem 3rem ;
    }


}

.index{
    overflow-x: hidden;
}


@media (max-width:768px){
    .span-box-1{
        width: 3.1875rem;
height: 1.75rem;
top: -4.1px;
    }
    .index{
        padding: 1.63rem 1rem;
    }
  .mobile-h3{
    color: var(--Dark, #333);
font-family: Poppins;
font-size: 0.875rem !important;
font-style: normal;
font-weight: 600 !important;
line-height: normal !important;
  }
  .mobile-h1{
    color: var(--primery, #A639DF);
    font-family: Poppins;
    font-size: 1.5rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
  }
  .mobile-p{
    color: var(--Dark, #333);
    font-family: Poppins;
    font-size: 0.875rem !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
  }
 
}