.main-index {
    background-image: url(../Assets/img/herobg.svg);
    background-size: cover;
    padding-top: 2.19rem;
    padding-bottom: 7.19rem;
    display: flex;
    align-items: center;
}

.hero-index {
    display: flex;
    padding-inline: 6.25rem 9rem;
    align-items: center;
    justify-content: space-between;
}

.index-social {
    display: flex;
    flex-direction: column;
    padding-left: 2.85rem;
    align-items: center;

}

.index-social hr {
    width: 0.1875rem;
    height: 9.375rem;
    background: #F8EAFF;

}

.index-span {
    margin-left: 1rem;
}

.hero-left {
    margin-top: 6rem;
}

.hero-left h3 {
    color: var(--Dark, #333);
    text-align: justify;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.hero-left h1 {
    color: var(--Dark, #333);

    /* H1 */
    font-family: Poppins;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.625rem;
    margin-block: 0.94rem;
}

.hero-left p {
    color: var(--Grey, #515151);

    /* H4 */
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    /* 177.778% */
    margin-bottom: 1.87rem;
}

.index-box {
    /* width: 15.6875rem;
height: 4.875rem; */
    width: fit-content;
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
    padding: 1.25rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.62rem;
}

.index-box-right h3 {
    color: var(--Dark, #333);
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.index-box-right h5 {
    color: var(--Dark, #333);
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-right {
    position: relative;
}

.index-box {
    position: absolute;
    top: 50%;
    left: -7%;
}

.index-box2 {
    padding: 1.87rem 2.19rem;
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.62rem;
    position: absolute;
    bottom: 0;
    right: -2rem;
}

.index-box-right2 h3 {
    color: var(--Dark, #333);
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.02625rem;
}

.index-box-right2 h5 {
    color: var(--Dark, #333);
    text-align: center;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0225rem;
}