*{
    margin: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;

}



.navbar{
    padding: 1.56rem 15rem;

    width: 100%;
    background: #FFF;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.12rem;
}

.NavbarList li {
    list-style: none;


}

.NavbarList li a {
    color: #333;
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.NavbarList li a:hover {
    color: var(--primery, #A639DF);
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.NavbarList li.active a
 {
  color: var(--primery, #A639DF);
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.NavbarList li.active div{
    background-color: #A639DF !important;
}
.NavbarList li div {
  width: 0.5625rem;
  height: 0.5625rem;
  border-radius: 50%;
  background-color: transparent;
  margin: auto;
  margin-top: 0.5rem;

}

.NavbarList {
    display: flex;
    gap: 1.87rem;
    margin-top: 1.3rem;
}
.quote-btn{
    border-radius: 3.75rem;
    border: 1px solid var(--Dark, #333);
padding: 0.5625rem 0.9375rem;


}

.quote-btn a{
    color: var(--Dark, #333);
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
gap: 0.62rem;
}


.right-nav{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}



.btn{
    background-color: #FE0000;
    padding: 0.62rem 1.25rem;
    color: #FFF;
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}









.css-1t6c9ts{
    justify-content: center;
}






/* Hamburger menu icon styles */
.menuIcon {
    display: none; /* Hide the menu icon on larger screens */
    cursor: pointer;
  }

  /* Bar styles for hamburger menu icon */
  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

.menuIcon {
    display: none;
}
.mobileNav{
    height:100vh ;
    width: 100%;
    position:fixed !important;
    background-color: #fff;
   right: 0 !important;
   z-index: 99999 !important;
   left: 0 !important;
   top: 0 !important;
   bottom: 0 !important;
   color: black;


}
.mobileNav ul li{
    list-style: none;
    padding-bottom: 1.5rem;
}
.mobileNav ul li a {

    color: var(--black-2, #333);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;

}
.main-head nav{
    z-index: 99999999;
}
.mobileNav ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

@media (max-width:768px) {
    nav{
        background-color: black;
    }
    .navbar{
        padding: 0.94rem    ;
    }

    .NavbarList{
        display: none !important;
    }
    .menuIcon {
        display: block;
    }
    #bttn{
        display: none   ;
    }
    .btn{
        display: none ;
    }
    .main-head{
        position: relative;
        z-index: 99;
    }
    .main-head{
        padding: 0.94rem !important ;
    }
    #logo{
        width: 50%;
    }
    .closebtn img{
        width: 12%;
        padding: 20px 0 0 20px;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3{
        background-color: white;
    }
    .right-nav{
        display: none;
    }
    .quote-btn a{
        font-size: 1rem;
        font-weight: 600;
        line-height: normal;
     }


            .quote-btn{
                padding: 0.64rem 1.25rem;
            }

            .mobileNav ul{
                display: initial;
                margin-left: 1rem;
            }
            .mobileNav ul li a{
                padding-left: 2rem;
            }


}

@media (min-width: 1100px) and (max-width: 1850px){
    body{
        overflow-x: hidden;
    }
    .navbar{
        padding: 0.63rem 3.25rem;
    }
}












