.price-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.88rem;
    margin-top: 6rem;
}
.price-box{
        width: 32%;
        fill: #FFF;
        filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.06));
 padding: 3.13rem 1.56rem;
 background: white;
 position: relative;
 margin-bottom: 20px;
}
.price-box h2{
    color: var(--Dark, #333);
font-family: Poppins;
font-size: 2.1875rem;
font-style: normal;
font-weight: 600;
line-height: 3.25rem; /* 148.571% */
padding-right: 6.7rem;

}
.right-price{
    display: flex;
    align-items: center;
    gap: 1.88rem;
    margin-block: 1.48rem;

}
.price-box h5{
    color: var(--Grey, #515151);
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.right-price h4{
    color: #000;
font-family: Poppins;
font-size: 1.5625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.price-box hr{
    margin-bottom: 0.56rem;
}
.price-box h3{
    display: inline-flex;
    align-items: center;
    gap: 1.25rem;
    margin-block: 1.37rem;
    color: #000;
text-align: center;

/* H5 */
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.price-box h6{
    color: var(--primery, #A639DF);
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.price-lable{
    width: 7.125rem;
height: 8.875rem;
    background-color: #AE3BE9;
    background: linear-gradient(180deg, rgba(174, 59, 233, 0.65) 0%, #A638DF 100%);
    position: absolute;
    top: -2.6rem;
    right: 1.5rem;
    clip-path: polygon(19% 0, 100% 0, 100% 100%, 18% 100%, 18% 28%, 0 29%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
.price-lable h1{
    color: var(--White, #FFF);
text-align: center;
font-family: Poppins;
font-size: 2.1875rem;
font-style: normal;
font-weight: 600;
line-height: 2.875rem; /* 131.429% */
padding-left: 1.2rem;
}


@media (max-width: 768px) {
    .price-bottom{
        flex-direction: column;
    }
    .price-box{
        width: 100%;
       padding: 4.13rem 0.96rem 0.96rem 0.96rem;
    }
    .price-lable {
        width: 4.725rem;
        height: 4.5625rem;
        top: -1.3rem;
    }
    .price-lable h1{
font-size: 1rem;
font-weight: 600;
line-height: normal;
padding-left: 0.8rem;
    }
    .price-box h2{
font-size: 1.25rem;
font-weight: 600;
line-height: normal;
padding-inline:0 ;
    }
    .right-price{
        margin-block: 0.94rem 0.62rem;
    }
    .price-box h5{
font-size: 1.125rem;
font-weight: 400;
line-height: normal;
    }
    .right-price h4{
font-size: 1.125rem;
font-weight: 500;
line-height: normal;
    }
    .price-box h3{
font-size: 1rem;
margin-block: 0.62rem;
font-weight: 400;
line-height: normal;
gap:    0.62rem;
    }
    .price-bottom{
        margin-top: 0;
    }

}